<p id="notice"><%= notice %></p>

  <h1><%= @article.title %></h1>

<p>
  <%= 
  	  markdown = Redcarpet::Markdown.new(Redcarpet::Render::HTML, extensions = {})
      markdown.render(@article.content).html_safe
    %>
</p>

<p id="author">
  rédigé par <a href="#" onclick='window.location.replace(document.location.href.substring(0, document.location.href.indexOf("/")) + "/users/<%=@article.user.id%>")'><%= @article.user.pseudo %></a>
</p>

<% if is_owner? Article.find(params[:id]) %>
	<%= link_to 'Edit', edit_article_path(@article) %>
	<% if is_admin? %> | <%= link_to 'Back', articles_path %> <%end%> 
<% end %> 