<header>
	<% if !current_user.nil? then %> Bienvenue bg de <%= current_user.pseudo %> !<% end %>
	<% if !current_user.nil? then %><%= link_to "Se déconnecter", signout_path %><% end %>
	<nav>
		<ul>
			<!-- Pour les visiteurs -->
			<li><%= link_to "Accueil", root_path %></li>
			<li>Nos voyages</li>
			<li>Photos & vidéos</li>
			<li>Coups de coeurs</li>
			<li>Conventions</li>
			<li>Recherche</li>
			<li><%= link_to "À Propos", about_path %></li>

			<!-- Pour les utilisateurs -->
			<% if signed_in? %>
				<li><%= link_to "Créer un article", new_article_path %></li>
				<li><%= link_to "Mon profil", user_path(current_user)%></li>
			<% end %>

			<!-- Pour les admins -->
			<% if is_admin? %>
				<li>Interface de gestion</li>
			<% end %>
		</ul>
	</nav>
</header>